# Manipulando arquivos com Python

## Arquivos TXT

### Lendo Arquivos txt

In [1]:
#abrindo o arquivo em modo de leitura
arq1 = open('arquivos/arquivo1.txt','r')

In [2]:
#lendo o arquivo
print(arq1.read())

﻿Python é legal

In [3]:
#contando numero de caracteres
print(arq1.tell())

18

In [4]:
#retornar ao inicio do arquivo
print(arq1.seek(0,0))

0

In [5]:
#lento os primeiro caracteres
print(arq1.read(10))

﻿Python é

### Gravando Arquivos

In [10]:
#Abrindo o arquivo para gravação
arq2 = open('arquivos/arquivo1.txt','w')

In [11]:
arq2.write('atualizando o arquivo em python')
arq2.close()

In [12]:
arq2 = open('arquivos/arquivo1.txt','r')
print(arq2.read())

atualizando o arquivo em python

### Alterando Arquivos

In [14]:
#Abrindo o arquivo para alteração
arq3 = open('arquivos/arquivo1.txt','a')

In [15]:
arq3.write('atualizando o arquivo em python sem apagar o anterior')
arq3.close()

In [16]:
arq3 = open('arquivos/arquivo1.txt','r')
print(arq3.read())

atualizando o arquivo em pythonatualizando o arquivo em python sem apagar o anterior

## Datasets

### Dividindo o DataSet em Linhas

In [35]:
#abrindo o arquivo
f = open('arquivos/salarios.csv','r')

In [36]:
#Guardando os dados para utilizarmos
data = f.read(100)

In [37]:
#divide o arquivo pulando com enter 
rows = data.split('\n')
print(rows)

['Name,Position Title,Department,Employee Annual Salary', '"AARON,  ELVIA J",WATER RATE TAKER,WATER MGMNT']

### Dividindo o DataSet em Colunas

In [29]:
#abrindo o arquivo
f = open('arquivos/salarios.csv','r')

In [30]:
#Guardando os dados para utilizarmos
data = f.read(100)

In [31]:
rows = data.split('\n')

In [32]:
full_data = []

In [33]:
#adicionando na matriz
for row in rows:
    split_row = row.split(',')
    full_data.append(split_row)

In [34]:
print(full_data)

[['Name', 'Position Title', 'Department', 'Employee Annual Salary'], ['"AARON', '  ELVIA J"', 'WATER RATE TAKER', 'WATER MGMNT']]

### Gravando arquivos com jupyter

In [42]:
#comandos do jupyter.
%%writefile arquivos/teste.txt
arquivo gerado pelo jupyter

## Importando DataSets com o Pandas

In [44]:
#pip3 install pandas
import pandas as pd

In [45]:
#Leitura do arquivo
df = pd.read_csv('arquivos/binary.csv')

In [46]:
#Imprime as primeiras linhas
df.head()

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  880  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4

In [48]:
#lendo arquivo
salario = pd.read_csv('arquivos/salarios.csv')

In [49]:
salario.head()

,Name,Position Title,Department,Employee Annual Salary
0,"AARON, ELVIA J",WATER RATE TAKER,WATER MGMNT,$88968.00
1,"AARON, JEFFERY M",POLICE OFFICER,POLICE,$80778.00
2,"AARON, KARINA",POLICE OFFICER,POLICE,$80778.00
3,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,$84780.00
4,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,$104736.00

## Manipulando TXT

In [51]:
texto = 'Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... \n Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... \n Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...'

In [52]:
print(texto)

Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
 Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
 Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...

In [54]:
#importando libs
import os

In [57]:
#Criando um novo arquivo
arquivo = open(os.path.join('arquivos/cientista.txt'),'w')

In [59]:
#gravando dados no arquivo
for palavra in texto.split():
    arquivo.write(palavra +' ')

In [60]:
#salvando
arquivo.close()

In [61]:
arquivo = open('arquivos/cientista.txt','r')
conteudo = arquivo.read()
print(conteudo)

Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...

In [63]:
with open('arquivos/cientista.txt','r') as arq:
    conteudo = arq.read()
    
print(conteudo)

Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit... Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...

## Manipulando CSV

In [64]:
#importando modulo
import csv

In [69]:
#gravacao dos arquivos
with open('arquivos/numeros.csv','w') as arquivo:
    writer = csv.writer(arquivo)
    writer.writerow(('primeira','segunda','terceira'))
    writer.writerow((55,93,76))
    writer.writerow((15,53,26))

In [71]:
#leitura dos arquivos
with open('arquivos/numeros.csv','r') as arquivo:
    reader = csv.reader(arquivo)
    for c in reader:
        print(c)

['primeira', 'segunda', 'terceira']
['55', '93', '76']
['15', '53', '26']

In [72]:
#convertendo em lista
with open('arquivos/numeros.csv','r') as arquivo:
    reader = csv.reader(arquivo)
    dados = list(reader)
    
print(dados)

[['primeira', 'segunda', 'terceira'], ['55', '93', '76'], ['15', '53', '26']]

In [73]:
for linha in dados[1:]:
    print(linha)

['55', '93', '76']
['15', '53', '26']

## Manipulando JSON

In [74]:
#criando um dicionario
dict = {'nome':'vini','linguagem':'Python','similar': ['c','lisp','modula-3'],'users':100000}

In [76]:
for k,v in dict.items():
    print(k,v)

nome vini
linguagem Python
similar ['c', 'lisp', 'modula-3']
users 100000

In [77]:
#importando lib
import json

In [78]:
#converte dicionario para JSOn
json.dumps(dict)

'{"nome": "vini", "linguagem": "Python", "similar": ["c", "lisp", "modula-3"], "users": 100000}'

In [79]:
# Gravando JSON
with open('arquivos/dados.json','w') as arquivo:
    arquivo.write(json.dumps(dict))

In [80]:
# Lendo JSON
with open('arquivos/dados.json','r') as arquivo:
    texto = arquivo.read()
    data = json.loads(texto)
    
print(data)

{'nome': 'vini', 'linguagem': 'Python', 'similar': ['c', 'lisp', 'modula-3'], 'users': 100000}

In [81]:
print(data['nome'])

vini

In [82]:
#Buscando JSON da internet
from urllib.request import urlopen

In [85]:
response = urlopen('https://api.github.com/users/vinisaab').read().decode('utf8')
data = json.loads(response)
print(data)

{'login': 'vinisaab', 'id': 13907634, 'node_id': 'MDQ6VXNlcjEzOTA3NjM0', 'avatar_url': 'https://avatars1.githubusercontent.com/u/13907634?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/vinisaab', 'html_url': 'https://github.com/vinisaab', 'followers_url': 'https://api.github.com/users/vinisaab/followers', 'following_url': 'https://api.github.com/users/vinisaab/following{/other_user}', 'gists_url': 'https://api.github.com/users/vinisaab/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/vinisaab/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/vinisaab/subscriptions', 'organizations_url': 'https://api.github.com/users/vinisaab/orgs', 'repos_url': 'https://api.github.com/users/vinisaab/repos', 'events_url': 'https://api.github.com/users/vinisaab/events{/privacy}', 'received_events_url': 'https://api.github.com/users/vinisaab/received_events', 'type': 'User', 'site_admin': False, 'name': None, 'company': None, 'blog': '', 'location': None, 'email': None, 'hireable': True, 'bio': '.', 'public_repos': 14, 'public_gists': 0, 'followers': 4, 'following': 10, 'created_at': '2015-08-21T17:56:09Z', 'updated_at': '2019-10-25T12:29:39Z'}