# Python Basico - Anotações

## Números e operações

In [ ]:
""" Principais tipos numéricos
Int: inteiros, positivos ou negativos. Ex: X = 7 ou X = -7
Float: Quebrados, positivos ou negativos. Ex: X = 7.1 ou X = -7.1
------------------------------------------------------------------------
Operações:
Soma = '+'
Subtração = '-'
Multiplicação = '*'
Divisão = '/'
Modulo = '%'
Potencia = '**'
Converte para inteiro = 'int()'
Converte para float = 'float()'
-------------------------------------------------------------------------
Comparações:
Igual = '==' *Atenção, um = é atribuição, == é comparação
Diferente = '!='
Maior que = '>'
Menor que = '<'
Maior ou igual que = '>='
Menor ou igual que = '<='
-------------------------------------------------------------------------
Algumas Funções:
Abs = Retorna o numero absoluto(positivo)
Type = Retorna o tipo do dado
Round = Arredonda
Pow = Potencia
"""

In [1]:
#Soma
4 + 4

8

In [2]:
#Subtração
4 - 1

3

In [3]:
#Multiplicação
4 * 4

16

In [4]:
#Divisão
4 / 3

1.3333333333333333

In [5]:
#Modulo
4 % 3

1

In [6]:
#Potência
4 ** 3

64

In [8]:
#Conversão Int
int(4.3)

4

In [9]:
#Conversão Float
float(4)

4.0

In [10]:
#Absoluto
abs(-8)

8

In [11]:
abs(4.2)

4.2

In [13]:
#Type
type('aaaa')
##type(8)
##type(8.2)

str

In [15]:
#Arrendondamento
round(6.9)

7

In [16]:
#Potencia
pow(5,3) #5 elevado a 3

125

## Variaveis e Operadores

In [ ]:
''' Variaveis:
Variaveis armazenam dados, para serem utilizados em diversos locais

Obs:
Não devem iniciar com numeros
Não devem conter espaços
Não devem conter caracteres especiais
Não devem ter o mesmo nome de palavras reservadas.
--------------------------------------------------------------------
Operadores:
= : Atribuição
+= : soma
-= : Subtração
E assiim por diante.
--------------------------------------------------------------------
Operadores Lógicos
And = 'E', retorna verdadeiro se as comparações forem verdadeiras
Or = 'ou', Retorna verdadeiro se uma das comperações forem verdadeiras
Not = 'não', retorna verdadeiro se a comparação for falsa
'''

In [19]:
#Variaveis
a = 10
b = 'a'

c = a * b

print(c)

aaaaaaaaaa

In [20]:
#Operadores

teste = 10
print(teste)
teste += 2
print(teste)

10
12

## Strings

In [ ]:
''' Texto, Caracteres e Indices
Index começa com 0
'''

In [24]:
a = 'Python'
b = a[0]
b

'P'

In [25]:
#Slicing
#Pega toda a string do indice até o fim
a[2:]

'thon'

In [26]:
#Retorna tudo até o indice
a[:3]

'Pyt'

In [27]:
#Negativo
a[-1]

'n'

In [33]:
# 'Pula' posições
a[::2]

'Pto'

In [35]:
##Transforma em maiuscula
a.upper()

'PYTHON'

In [44]:
##Transforma em minuscula
a.lower()

'python'

## Estrutura de dados

In [ ]:
''' Listas
Listas são como sequencias e podem ser alteradas.
Listas são demarcadas por colchetes e virgulas
Listas são como vetores e matrrizes porém com mais liberdade.
Listas nãio tem restrições de tipo e tamanho.
é possivel inclusive criar uma lista dentro de uma lista.
'''

In [38]:
listamercado = ['ovos, farinha, leite, maçã']
listamercado

['ovos, farinha, leite, maçã']

In [42]:
listamercado2 = ['ovos', 'farinha', 'leite', 'maçã']
listamercado2

['ovos', 'farinha', 'leite', 'maçã']

In [43]:
listamercado2[0]

'ovos'

In [41]:
listamercado[0]

'ovos, farinha, leite, maçã'

In [46]:
lista3 = [12,100,"Universidade"]
lista3

[12, 100, 'Universidade']

In [47]:
##Alterando item da lista
listamercado2[1] = 'Chocolate'
listamercado2

['ovos', 'Chocolate', 'leite', 'maçã']

In [48]:
##Removendo item da lista
del listamercado2[1]
listamercado2

['ovos', 'leite', 'maçã']

In [49]:
#Lista de lista(listas aninhadas)
lista4 = [[1,2,3],[4,5,6],7]
lista4

[[1, 2, 3], [4, 5, 6], 7]

In [50]:
lista4[0]

[1, 2, 3]

In [52]:
lista4[0][0]

1

In [53]:
lista4[1][2]

6

In [54]:
lista4[2]

7

In [55]:
#Operações com listas
c = lista4[0][1] +2
c

4

In [56]:
d = lista4[0] + lista4[1]
d

[1, 2, 3, 4, 5, 6]

In [57]:
#verifica se existe um valor na lista
print(2 in d)

True

In [58]:
#verifica o tamanho
len(d)

6

In [59]:
#maior valor
max(d)

6

In [60]:
#menor valçor
min(d)

1

In [61]:
#adicionando novos valores
d.append(7)
d

[1, 2, 3, 4, 5, 6, 7]

In [63]:
#contando registros
d.count(2)

1

In [64]:
d.append(2)
d

[1, 2, 3, 4, 5, 6, 7, 2]

In [65]:
d.count(2)

2

In [80]:
#Extends
cidades = ['Recife','Manaus','Salvador']
cidades.extend(['Fortaleza','Palmas'])

In [81]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [82]:
#Encontrar indice
cidades.index('Salvador')

2

In [83]:
#Inserir em um ponto especifico da lista
cidades.insert(2,110)
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [84]:
#Inverte a lista
cidades.reverse()
cidades

['Palmas', 'Fortaleza', 'Salvador', 110, 'Manaus', 'Recife']

In [85]:
#ordenar a lista

cidades.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [86]:
#Alterando o 110 por 'rio de janeiro', mesclando as funções estudadas
cidades[cidades.index(110)] = 'Rio de janeiro'

In [87]:
cidades

['Fortaleza', 'Palmas', 'Salvador', 'Rio de janeiro', 'Manaus', 'Recife']

In [88]:
cidades.sort()

In [89]:
cidades

['Fortaleza', 'Manaus', 'Palmas', 'Recife', 'Rio de janeiro', 'Salvador']

## Dicionarios

In [ ]:
''' Dicionarios
Utilizados para mapear dados.
Dicionarios possuem Chave:Valor
{a:1,b:2,c:3}
'''

In [90]:
#criando lista
estudante_lista = ["Mateus",24,"Fernanda",22,"Tamires",26,"Cristiano",25]
estudante_lista

['Mateus', 24, 'Fernanda', 22, 'Tamires', 26, 'Cristiano', 25]

In [91]:
#Criando dicionario
estudantes_dict = {"Mateus":24,"Fernanda":22,"Tamires":26,"Cristiano":25}
estudantes_dict

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25}

In [92]:
#Buscando por indice, recebendo o valor
estudantes_dict['Mateus']

24

In [93]:
#Adicionando itens
estudantes_dict['Pedro'] = 23

In [94]:
estudantes_dict

{'Mateus': 24, 'Fernanda': 22, 'Tamires': 26, 'Cristiano': 25, 'Pedro': 23}

In [95]:
len(estudantes_dict)

5

In [96]:
#extrai chaves
estudantes_dict.keys()

dict_keys(['Mateus', 'Fernanda', 'Tamires', 'Cristiano', 'Pedro'])

In [97]:
#extrai valores
estudantes_dict.values()

dict_values([24, 22, 26, 25, 23])

In [98]:
#extrai itens(chave+valor)
estudantes_dict.items()

dict_items([('Mateus', 24), ('Fernanda', 22), ('Tamires', 26), ('Cristiano', 25), ('Pedro', 23)])

In [100]:
#Concatenar
estudantes_dict2 = {'Vinicius':28,'Leticia':22}
estudantes_dict.update(estudantes_dict2)

In [101]:
estudantes_dict

{'Mateus': 24,
 'Fernanda': 22,
 'Tamires': 26,
 'Cristiano': 25,
 'Pedro': 23,
 'Vinicius': 28,
 'Leticia': 22}

In [102]:
#Dicionario de lista
dicionario = {'a':[1,2,3],'b':['a','b','c'],'c':10}

In [105]:
dicionario['b'][0].upper()

'A'

## Tuplas

In [ ]:
'''Tuplas
Criada com parênteses
São mais limitadas
Não existe append/delete
É imutavel
'''

In [106]:
tupla1 = (1,'a',100)

In [107]:
del tupla1[1]

TypeError: 'tuple' object doesn't support item deletion